@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 15, 23, 42;
}

body {
  background: radial-gradient(circle at center, #0f172a 0%, #020617 100%);
  color: rgb(var(--foreground-rgb));
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
